<a href="https://colab.research.google.com/github/janani-1408/ml_projects/blob/main/machine_learning_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Naive Bayes Classifier

In [ ]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [ ]:
dataset = pd.read_csv('/content/Articles[1].csv', encoding='latin1')               #UnicodeDecodeError,so we are using latin1 to encoding

In [ ]:
dataset.head(10)

,Article,Date,Heading,NewsType
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business
5,New York: Oil prices tumbled Tuesday to fresh ...,1/7/2015,oil hits new 5.5 year lows as saudis defend,business
6,KARACHI: Strong bulls on Friday pulled the ben...,1/9/2015,bullish kse jumps over 33000 psychological bar...,business
7,"Singapore: Oil fell further in Asia Monday, wi...",1/12/2015,oil falls further in asian trad,business
8,KARACHI: Wholesale market rates for sugar drop...,1/13/2015,sugar prices drop to rs 49.80 in sind,business
9,SYDNEY: Oil prices fell 1 percent on Wednesday...,1/14/2015,oil extends losses as world bank cuts growth for,business

In [ ]:
dataset.columns

Index(['Article', 'Date', 'Heading', 'NewsType'], dtype='object')

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2692 entries, 0 to 2691
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Article   2692 non-null   object
 1   Date      2692 non-null   object
 2   Heading   2692 non-null   object
 3   NewsType  2692 non-null   object
dtypes: object(4)
memory usage: 84.2+ KB

In [ ]:
dataset.shape

(2692, 4)

In [ ]:
dataset.dropna(inplace=True)

In [ ]:
x=dataset['Article']
y=dataset['NewsType']

In [ ]:
tfidf_vectorizer = TfidfVectorizer(max_features=5000)
X = tfidf_vectorizer.fit_transform(x)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
model=MultinomialNB()
model.fit(X_train,y_train)

MultinomialNB()

In [ ]:
# Assuming you have a trained model named 'nb_classifier' and a TF-IDF vectorizer named 'vectorizer'

# Provide the new article text as input
new_article_text = "HONG KONG: Hong Kong shares opened 0.66 percent lower Monday following a tepid lead from Wall Street, as the first full week of the new year kicked off.The benchmark Hang Seng Index dipped 158.63 points to 23,699.19."

# Convert the new article text into TF-IDF features using the same vectorizer used for training
new_article_tfidf = tfidf_vectorizer.transform([new_article_text])

# Predict the category label for the new article
predicted_category = model.predict(new_article_tfidf)

print("Predicted category:", predicted_category[0])

Predicted category: business

In [ ]:
acc=accuracy_score(y_test,y_pred)
acc

0.9925788497217068